/* top container */

html{
    margin: 0;
    padding: 0;
}

body{
    font-size: 1.5rem;
    text-align: center;
    border: 0;

    margin: 0px;
}


.container{
    position: relative;
    top: 0px;
    margin-top:0px;
    padding-top:30px ;
    background-color: #EAF6F6;
}

.cld1{
    position: absolute;
    right: 210px;
    top:0px;

}


.cld2{
    position: absolute;
    left:240px
}


.intro{
    font-weight: normal;
    position: relative;
    top:20px;
    
}
.mount{
    width: 550px;
}

/* -------------------------------------------------------------------------------- */
/* general elements styling */
h1{
    font-size: 10 rem;
    font-family: 'Sacramento', cursive;
    font-weight: bold;
    padding-top: 30px;
    position:relative;
    top:40px;
    
}

h1,h2{
    color: #66BFBF;
}

h3,a{
    color: #11999E;
    text-align: center;
    font-size: 1.3rem;
    display: inline-block;
    padding-left:10px;
    padding-right: 10px;
}

p{
    font-family:Arial, Helvetica, sans-serif;
    color:black;
    font-size: 1.3rem;
    
}

span{
    font-family: monospace;
    color: burlywood;
}
hr{
    color: #5584AC;
    width: 100px;
    border-width: 8px 0px 0px;
    border-style: dotted;
    margin: 100px auto;
}

/* ---------------------------------------------------------------------- */

/* mid container */
.skill-row{
    width: 50%;
    margin: 0px auto 0px;
    text-align: left;
    font-size: 1.3rem;
}

.skill-img{
    width: 100px;
    display: inline-block;
}

.btn{
    font-weight: bold;
    color: #EAF6F6;
    background-color: #66BFBF;
    border-radius: 5px;
    padding: 7px;
}

table{
    margin:1px auto 10px;
    
}

td{
    padding: 10px 30px 30px 15px;
}
/* -------------------------------------------------------------------------------------------- */
/* footer  */
.bottom-container{
    padding: 15px 0 20px;
    margin: 10px auto 10px;
    background-color: #66BFBF;
}

.footer-link img{
    padding:20px 20px 20px;
    width: 40px;
    opacity: 75%;
}

.footer-link img:hover{
    opacity: 100%;
}